In [8]:
import pandas as pd
import numpy as np

## Importar datos

In [9]:
# DATOS PRODUCCIÓN HIDRÁULICA EMBALSES, 
df_PHE = pd.read_csv('data_PHE_1980_2024.csv', index_col=0, parse_dates=True)
                                    # tomamos la primer columna del csv como índice  en formato fecha
# DATOS PRODUCCIÓN HIDRÁULICA RÍOS
df_PHR = pd.read_csv('data_PHR_1980_2024.csv', index_col=0, parse_dates=True)


# Verificar si los índices (fechas) son iguales entre ambos DataFrames
fechas_coinciden = df_PHE.index.equals(df_PHR.index)
if fechas_coinciden:
    print("Las fechas coinciden perfectamente entre los dos DataFrames.")
else:
    print("Las fechas no coinciden entre los dos DataFrames.")

Las fechas coinciden perfectamente entre los dos DataFrames.

## Cobertura conjunta Europa

In [10]:
PAISES_EU27 = [
    'AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES', 'FI', 'FR', 
    'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL', 'PL', 'PT', 'RO', 
    'SE', 'SI', 'SK']

In [11]:
df_prod_hidr_EU27 = pd.DataFrame(index=df_PHE.index)

# para cada país, sumamos la PHE+PHR
for pais in PAISES_EU27:
    df_prod_hidr_EU27[pais] = df_PHE[pais] + df_PHR[pais]

# obtenemos la suma de todos los países de la UE27
df_prod_hidr_EU27['EU27'] = df_prod_hidr_EU27.sum(axis=1)

df_prod_hidr_EU27.tail()

,AT,BE,BG,CY,CZ,DE,DK,EE,EL,ES,...,LV,MT,NL,PL,PT,RO,SE,SI,SK,EU27
Date,,,,,,,,,,,,,,,,,,,,,
2024-12-27,53360.49,NaN,NaN,NaN,NaN,39096.49,NaN,NaN,NaN,93761.04,...,NaN,NaN,NaN,NaN,19340.32,45125.90,NaN,NaN,9964.74,544071.06
2024-12-28,52605.85,NaN,NaN,NaN,NaN,38423.38,NaN,NaN,NaN,91403.92,...,NaN,NaN,NaN,NaN,19972.29,44304.17,NaN,NaN,9900.48,537553.24
2024-12-29,52205.38,NaN,NaN,NaN,NaN,38228.57,NaN,NaN,NaN,90104.04,...,NaN,NaN,NaN,NaN,20327.02,43615.31,NaN,NaN,9614.40,533642.23
2024-12-30,52173.79,NaN,NaN,NaN,NaN,37792.21,NaN,NaN,NaN,88167.28,...,NaN,NaN,NaN,NaN,18638.09,43612.14,NaN,NaN,9393.37,523009.06
2024-12-31,52149.79,NaN,NaN,NaN,NaN,37396.72,NaN,NaN,NaN,88049.76,...,NaN,NaN,NaN,NaN,18960.04,43778.70,NaN,NaN,9096.07,521658.31

In [12]:
df_prod_hidr_EU27.to_csv('data_Prod_Hidr_TT_EU27_1980_2024.csv', index=True)